<div class="edit-post">
    <h1>Edit post</h1>
    <form (ngSubmit)="onSubmit()" #postForm="ngForm">
        <div class="edit-post-title">
            <label for="edit-post-title">Title</label><br>
            <input type="text" id="edit-post-title"
                   required
                   [(ngModel)]="selectedPost.title"
                   name="title"
                   #title="ngModel">
        </div>

        <div class="edit-post-author-name">
            <label for="edit-post-author-name">Author</label><br>
            <input type="text" id="edit-post-author-name"
                   required
                   [(ngModel)]="selectedPost.authorName"
                   name="authorName"
                   #authorName="ngModel">
        </div>

        <div class="edit-post-content">
            <label for="edit-post-content">Content</label><br>
            <textarea type="text" id="edit-post-content"
                      required
                      [(ngModel)]="selectedPost.content"
                      name="content"
                      #content="ngModel"
                      rows="20"
                      cols="100">
            </textarea>
        </div>

        <button type="submit">Apply changes</button>
    </form>

    <button id="back-button" (click)="goBack()">Cancel</button>
</div>