.idea
.vscode/
.DS_Store

server/src/config/config.ts
server/src/**/*.js
server/node_modules
server/dist/

client/node_modules
client/src/**/*.js
client/src/**/*.js.map
client/dist
!client/src/assets/langs/ru.js

npm-debug.log
