client/node_modules
server/node_modules
.idea
.DS_Store
client/app/**/*.js
client/app/**/*.js.map
client/dist
!client/app/util/apiCaller.js
!client/app/util/dateLocal.js
server/config/**/*.js
npm-debug.log
