<div class="add-comment">
    <form (ngSubmit)="onSubmit()" #commentForm="ngForm">
        <input type="text" id="add-comment-author-name"
               required
               [(ngModel)]="comment.authorName"
               name="authorName"
               placeholder="Your name"
               #authorName="ngModel">
        <br>
        <textarea type="text" id="add-comment-content"
                  required
                  [(ngModel)]="comment.content"
                  name="content"
                  placeholder="Write your comment..."
                  #content="ngModel"
                  rows="4"
                  cols="30">
        </textarea>
        <br>
        <button type="submit">Add comment</button>
    </form>
</div>
