.comment-list {
    /*border-left: 1px dotted #222222;*/
    padding-left: 10px;
    margin-left: 45px;
}

.comment-list-item {
    margin-top: 10px;
    list-style: none;
}

.comment-list-item > * {
    margin-top: 5px;
}

.comment-list-item > *:nth-child(1) {
    margin-top: 30px;
}

.comment-list-item > div:first-child {
    display: flex;
}

.comment-author {
    margin-right: 10px;
    color: #2179b4;
}

.comment-content {
    width: 60%;
    word-wrap: break-word;
}

.comment-list-item > button {
}
