.comment {
    margin-left: 23px;
    padding: 20px;
}

.comment > div:first-child {
    display: flex;
}

.comment-author {
    margin-right: 10px;
    color: #2179b4;
}

.comment-content {
    width: 60%;
    word-wrap: break-word;
}

.comment-reply {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.comment-reply > textarea {
    width: 250px;
    height: 60px;
}
